body{
    margin: 0;
    background-color: #e3e6e6;
}

a{
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 14px;
    transform: scale(0.9);
}

#smlText{
    font-weight: 50;
}

#lrgText{
    font-weight: 700;
}

.navbar{
    background-color: #131921;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 20;

}

.homePage{
    margin: 1px 1px 1px 1px;
    padding: 1px 8px 0px 6px;
    height: 49px;
    width: 175px;
    background-image: url("resources/logo.png");
    background-size: cover;
}

.searchBar{
    display: inline;
}

#search{
    height: 20px;
    width: 30px;
    background-color: #FF9B00;
    background-image: url("resources/mag.svg");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;
    position: relative;
    top: 5px;
    left: 0px;
    margin: 0;
    border: 0;
}

#input{
    height: 20px;
    width: 500px;
    padding: 0;
    border: 0;
    margin: 0;
}

select{
    background-color: #131921;
    color: #FFFFFF;
    border-color: #FF9B00;
}
.background{
    margin: 0px 10px 0px 10px;
}
.bg{
    height: 650px;
    width: 100%;
    z-index: -3;
}
/* .fade{
    z-index: 0;
    position: relative;
    top: -250px;
} */
/* .fading{
    width: 100%;
} */
.holder{
    width: 97.5%;
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-wrap: wrap;
    top: -375px;
    left: 20px;
}
.productCart, .advertBox{
    height: 420px;
    width: 325px;
    padding: 15px;
    font-size: 21px;
    line-height: 27.3px;
    color: #0f1111;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    background-color: white;
    margin-top: 20px;
    z-index: 3;
}
.onlyProds{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-self: center;
}
.titleHolder{
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
}
.title{
    position: relative;
    left: 0px;
}

.prod{
    height: 135px;
    width: 150px;
    margin-left: 10px;
}
.advertBox{
    width: 700px;
}