body{
    margin: 0;
    background-color: #e3e6e6;
}

a{
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 14px;
    transform: scale(0.9);
}

#smlText{
    font-weight: 50;
}
#smlText1{
    font-weight: bold;
}
#lrgText1{
    font-weight: bolder;
}

#lrgText{
    font-weight: 700;
}

.navbar{
    background-color: #131921;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 20;

}

.homePage{
    margin: 1px 1px 1px 1px;
    padding: 1px 8px 0px 6px;
    height: 49px;
    width: 175px;
    background-image: url("resources/logo.png");
    background-size: cover;
}

.btn-search{
    width: 45px;
    background-color: #febd69;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-select{
    width: 45px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    height: 100%;
    background-color: #F3F3F3;
}

#input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.searchBar{
    display: flex;
    justify-content: space-evenly;
    width: 600px;
    height: 40px;
    border-radius: 4px;
}

.nav-lang{
    background-color: #131921;
    color: #FFFFFF;
    border-color: #FF9B00;
}

.accessBar, .btt{
    width: 100%;
    height: 40px; 
    background-color: #232F3E;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.accessories{
    display: flex;
    align-items: center;
    height: 20px;
    margin-right: 10px;
    padding: 7px;
}

#all{
    margin-left: 20px;
}

.background{
    margin: 0px 10px 0px 10px;
}

.bg{
    height: 650px;
    width: 100%;
    z-index: -3;
}

/* .fade{
    z-index: 0;
    position: relative;
    top: -250px;
} */
/* .fading{
    width: 100%;
} */

.holder{
    width: 97.5%;
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-wrap: wrap;
    top: -375px;
    left: 20px;
}

.productCart, .advertBox{
    height: 420px;
    width: 325px;
    padding: 15px;
    font-size: 21px;
    line-height: 27.3px;
    color: #0f1111;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    background-color: white;
    margin-top: 20px;
    z-index: 3;
}

.onlyProds{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-self: center;
}

.titleHolder{
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
}

.title{
    position: relative;
    left: 0px;
}

.prod{
    height: 135px;
    width: 150px;
    margin-left: 10px;
}

.advertBox{
    width: 700px;
}

.location:hover, .homePage:hover, .cart:hover, .account:hover, .returns:hover, .accessories:hover{
    border: 1px solid white;
    border-radius: 2px;
}
main{
    height: 1240px;
}
.credNLink{
    height: 1000px;
}
.btt{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color: white;
    display: flex;
    justify-content: center;
    background-color: #37475A;
    font-size: small;
}
.btt:hover{
    background-color: #566D87;
}
.additionals{
    height: 520px;
    background-color: #232f3e;
}
.positioner{
    position: relative;
    left: 19%;
    display: flex;
}
.subtext{
    margin-right: 100px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color:white;
    margin-top: 40px;
    margin-bottom: 50px;
}
div p.inText{
    margin: 8px 0px 8px 0px;
}
#MMU{
    flex-wrap: wrap;
    width: 160px;
}
#Help{
    flex-wrap: wrap;
    width: 130px;
}
.links{
    color: #c4d2d4;
}
.links:hover{
    text-decoration: solid underline #c4d2d4;
}
hr{
    border-width: 0.5px;
    border-color: #272d2d;
    position: relative;
    top: -145px;
}
.add-btm{
    display: flex;
    justify-content: center;
}
.logobtm{
    height: 64px;
    width: 210px;
    background-image: url("resources/logo.png");
    background-size: contain;
    transform: scale(0.35);
}
.creds{
    width: 300px;
    color: #c4d2d4;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
#smlLine{
    height: 30px;
    width: 0px;
    margin: 0;
    border-color: white;
    position: relative;
    top: 10px;
    right: 35px;
}
#self{
    color: white;
}
.otherServices{
    height: 500px;
    width: 100%;
    background-color: #131a22;
    position: relative;
    top: -20px;
}
.contentHolder{
    height: 100px;
    width: 100%;
    padding-left: 50px;
    display: flex;
    justify-content: center;
}
.content{
    width: 90px;
    margin-right: 80px;
    margin-top: 50px;
}
.txt{
    width: 100px;
    color: #999999;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.contentTitle{
    width: 100px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.content:hover > div{
    text-decoration: underline;
}
.caution{
    margin-top: 50px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}